.thing {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    position: absolute;
    border-radius: 0%;
}
#thing1 {
    width: 40px;
    height: 660px;
    background-color: black;
    position: absolute;
    display: flex;
}

#thing2 {
    width: 40px;
    height: 660px;
    background-color: black;
    position: absolute;
    display: flex;
}

#thing3 {
    width: 660px;
    height: 40px;
    background-color: black;
    position: absolute;
    display: flex;
}
#thing4 {
    width: 660px;
    height: 40px;
    background-color: black;
    position: absolute;
    display: flex;
}
#thing5 {
    width: 40px;
    height: 350px;
    background-color: black;
    position: absolute;
    display: flex;
}

#thing6 {
    width: 40px;
    height: 175px;
    background-color: black;
    position: absolute;
    display: flex;
}

#thing7 {
    width: 350px;
    height: 40px;
    background-color: black;
    position: absolute;
    display: flex;
}
#thing8 {
    width: 195px;
    height: 40px;
    background-color: black;
    position: absolute;
    display: flex;
}
#thing9 {
    width: 495px;
    height: 40px;
    background-color: black;
    position: absolute;
    display: flex;
}
/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}